.hidden{
    display: none;
}

html, body, #app{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
}

#app{
    background-image: url("/images/background.avif");
    background-size: cover;
	overflow: auto;
}

#content{
	width: 100%;
	height: 100%;
}

#sidebar{
    width: 15%;
	height: 100%;
}
.main-content{
    width: 85%;
}
.container, .row, .col{
    max-width: none;
    margin: 0;
    padding: 0;
}

.row-flex, .col-flex{
    display: flex;
    width: 100%;
}

.card-button{
    margin-left: 15px;
}

.card{
    background: rgba(255,255,255, 95%);
}
.accordion-item{
    background: rgba(255,255,255, 0.0);
}
.accordion-button{
    background: rgba(255,255,255, 0.0);
}
.dropdown-menu.show{
    background: rgba(255,255,255, 95%);
}

/* Changes */

.card-header{
	font-size: 20px;
	font-weight: medium;
	font-family: Verdana, sans-serif
}

